{% extends 'partials/pane.html' %}


{% block id %}boards_pane{% endblock %}


{% block title %}<h2>Your Boards</h2>{% endblock %}

{% block content %}

<div id="board_table" class="table">
    <div id="board_table_header" class="table-row">
        <div class="table-cell">
            Board Name
        </div>
        <div class="table-cell">
            Public Link
        </div>
        <div class="table-cell">
            Actions
        </div>
    </div>
</div>

<div id="create_new_board_form">
    <input type="text" value="New Board Name" class="autoclear" id="add_board_input"></input> <button id="add_board_button">Create</button>
    
</div>

{% endblock %}
