/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, figcaption, hgroup, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

.huge, h1 {
    font-family: 'PT Sans';
    font-weight: bold;
	font-size: 4em;
	line-height: 72px;
	margin-bottom: 0.2em;
}

.large, h2 {
    font-family: 'PT Sans';
	font-size: 1.5em;
	line-height: 1em;
}

h1{
    text-shadow: #402020 0px -1px 2px;
}

h2 {
    text-shadow: #404040 0px -1px 2px;
}

.big, h3 {
	font-size: 1.2em;
	line-height: 1.5em;
}

.normal, body {
	font: 16px/20px 'Cantarell', Helvetica, Arial, sans-serif;
	line-height: 1em;
}

.small {
	font-size: 13px;
	line-height: 18px;
} 

a, a:hover, a:visited {
    color: #00BED8;
}

/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

html {
    height: 100%;
/*    background: #BDBDBD;*/
/*    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0D9BE), color-stop(0.6, #D3CDB3), to(#D3CDB3)) no-repeat #E0D9BE;*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0E9CB), color-stop(0.6, #E0D9BE), to(#E0D9BE)) no-repeat #E0D9BE;
}
body {
/*	color: #E0D9BE;*/
	padding: 25px 25px 25px 25px;
	width: 648px;
	-webkit-tap-highlight-color: rgb(255,255,0);
	display: -webkit-box;
    -webkit-box-orient: vertical;
    
    margin: auto;
}

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}



/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
	
	body {
		width: 1068px;
	}
	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	body {
		width: 396px;
    	padding: 25px 0px 25px 0px;
		/* Adjust font to 80% on iPhone */
		-webkit-text-size-adjust: 80%;
	}
	
}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	body {
		width: 396px;
    	padding: 25px 0px 25px 0px;
		-webkit-font-size-adjust: 80%;
	}
	
}


/*	Overrides for iPhone 4 
	and other high device-pixel-ratio devices
	-----------------------------------------	*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
}


.controls_container {
    margin-top: 1em;
}

.controls_left {
    float: left;
}

.controls_right {
    float: right;
}

.control {
    margin-left: auto;
    display: inline;
}



.control:not(:last-child) {
    margin-right: 1em;
}

/**
 *  UI Panes
 **/
div.pane {
/*    width: 100%;*/
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: #FBF5D0;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    border-top-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
    border-bottom-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 0.5em 0.5em;
    
} 

div.pane_header {
    padding: 0.5em;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3D4C42), color-stop(0.3, #3D4C42), to(black));
    border-top-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
    color: white;
    
}

div.pane_content {
    padding: 0.5em 1em 1em 1em;
    height: 100%;
    border: 1px solid #3D4C42;
    border-top: 0;
    border-position: inside;
    -webkit-box-flex: 1;
    border-bottom-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 0.5em 0.5em;
/*    background: #F0E9CB;    */
    background: #FFF6D6;
}



/**
 *  Index page
 **/
div#index_header {
    text-align: center;
    -webkit-box-flex: 1;
    margin-bottom: 1em;
    background: -webkit-gradient(
        linear, 0% 100%, 0% 0%, 
        from(#FF0000), 
        color-stop(0.4, #FF0000), 
        to(#FF7D7F));    

}

div#index_login_register {
    -webkit-box-flex: 4;
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    
    min-height: 10em;
}

div.index_register, div.index_login {
/*    padding-left: 0.5em;
    padding-right: 0.5em;*/
    
}

div#index_register {
    -webkit-box-flex: 2;
    
    margin-right: 1em;
}

div#index_login {
    -webkit-box-flex: 1;
}

div#index_example_pane {
    margin-top: 1em;
}


div#index_footer {
    margin-top: 1em;
    text-align: center;
}






/* Registration form layout */
fieldset#registration_form {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
div.registration_form_field {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.registration_form_label {
    -webkit-box-flex: 1;
}
.registration_form_input {
    -webkit-box-flex: 1;
}

/**
 *  Forms
 **/
fieldset.form {
    
}

fieldset.form legend {
    padding-right: 0.5em;
}



/**
 *  Home page
 **/
h1#home_header {
    font-size: 2em;
}
div#home_header_container {
    margin-bottom: 1em;
    background: -webkit-gradient(
        linear, 0% 100%, 0% 0%, 
        from(#FF0000), 
        color-stop(0.4, #FF0000), 
        to(#FF7D7F));    
    
}

/**
 *  Page Notification
 **/
div.page_message {
    opacity: 0;
    margin-bottom: 0;
    padding: 0.5em;
    border: 1px solid #00BED8;
    background: #07DBF7;
    border-top-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
    border-bottom-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 0.5em 0.5em;
}

/* This is given to the message when it is to be displayed */
div.page_message.visible {
    -webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 1;
    margin-bottom: 1em;
}

/** 
 *  Forms 
 **/
fieldset.form {
    border-top: 1px solid black;
    display: table;
    
}
div.form_row {
    display: table-row;
}
div.form_cell {
    display: table-cell;
}

/* Form input states */
input.form_input {
    
}
input.form_input.invalid {
    background: red;
}
input.form_input.valid {
    background: default;
}

/* Form errors */
ul.errorlist {
    list-style: none;
}




/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
}
button.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}
button.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
}

/**
 *  Bingo page
 **/
.bingo_container {
    /* the bingo container is 50 times larger than the options bar at the bottom 
    -webkit-box-flex: 50;
    
    /* Distribute the rows of the bingo table evenly
    display: -webkit-box;
    -webkit-box-orient: vertical;*/
/*    position: relative;
    top: 0;
    left: 0;*/
    width: 100%;
    display: table;
    border: 1px solid black;
    padding: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

.bingo_row {
    display: table-row;
    /* Distribute the cells of this row in the table evenly 
    display: -webkit-box;*/
/*    border-bottom: 0;
    border-top: 0;*/
}

/**
 *  A cell in the bingo board, either a marker or a letter ('B', 'I'...)
 **/
.bingo_cell {
    display: table-cell;
    border-bottom: 1px solid black;
    
/*    height: 1em;
    width: 1em;*/
    /* Ensure that all bingo cells are the same size 
    -webkit-box-flex: 1;*/
    text-align: center;
    vertical-align: middle;
/*    border-bottom: 2px solid black;
    border-top: 2px solid black;*/
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

/*.bingo_row:first-child .bingo_cell {
    padding-top: 0.5em;
    border-top: 0;
}*/
.bingo_row:last-child .bingo_cell {
    border-bottom: 0;
}

/* Bingo cell activated */
.bingo_marker {
    position: relative;
/*    padding: 0.5em;*/
    font-weight: bold;
    border-radius: 5px;
    z-index: 200;
    padding: 0.5em 0.1em;
    z-index: 100;
    color: #F5F5F5;
}

.letter_cell {
    font-weight: bold;
    font-family: 'PT Sans Caption';
    text-align: center;
    /*
    border-bottom: 2px solid black;
    border-top: 2px solid black;*/
    color: #FF0000;
    font-size: 2em;
    text-shadow: 0 1px 1px rgba(191,0,0,0.5);
    
}


.bingo_marker.clickable {
    cursor: pointer;
}

.bingo_marker.clickable:hover:not(.enabled) {
    background: -webkit-gradient(
        linear, 0% 100%, 0% 0%, 
        from(#FF0000), 
        color-stop(0.4, #FF0000), 
        to(#FF7D7F));    
    opacity: 0.7;
    -webkit-transition-property: opacity, background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
}

.bingo_marker.disabled {
    opacity: 0.4;
    background: #BAB49D;
/*    font-size: 2em;*/
    border: none;
/*    margin: 0px 10px 10px 12px;*/
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);    
}

.bingo_marker.enabled {
    -webkit-animation-name: bounceEnable;
    -webkit-animation-duration: .25s;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3D4C42), color-stop(0.3, #3D4C42), to(black));
    /*    margin: 0px 5px 0px 5px;*/
/*    font-size: 2.2em;*/
    border: 1px solid white;
    opacity: 1;
}

@-webkit-keyframes 'bounceEnable' {
    from {
        -webkit-transform: scale(1);
        -webkit-animation-timing-function: ease-in-out;
    }
    33% {
        -webkit-transform: scale(1.5);
        -webkit-animation-timing-function: ease-in-out;
        
    }
    66% {
        -webkit-transform: scale(.75);   
        -webkit-animation-timing-function: ease-in-out;
    }
    75% {
        -webkit-transform: scale(1.10);
        -webkit-animation-timing-function: ease-in-out;
    }
    to {
        -webkit-transform: scale(1);
        -webkit-animation-timing-function: ease-in-out;
    }
}

.bingo_marker.lastEnabled {
/*    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);*/
    background: -webkit-gradient(
        linear, 0% 100%, 0% 0%, 
        from(#FF0000), 
        color-stop(0.4, #FF0000), 
        to(#FF7D7F));    
    -webkit-animation-name: lastEnabled;
    -webkit-animation-duration: 2.25s;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
    z-index: 102;
}

@-webkit-keyframes 'lastEnabled' {
    from {
        -webkit-transform: scale(1);
/*        -webkit-animation-timing-function: ease-in-out;*/
    }
    10% {
        -webkit-transform: scale(1.5);
/*        -webkit-animation-timing-function: ease-in-out;*/
        
    }
    20% {
        -webkit-transform: scale(.75);   
/*        -webkit-animation-timing-function: ease-in-out;*/
    }
    30% {
        -webkit-transform: scale(1.30);
/*        -webkit-animation-timing-function: ease-in-out;        */
    }
    to {
        -webkit-transform: scale(1);
/*        -webkit-animation-timing-function: linear;*/
    }
}

#last_enabled {
    display: none;
    position: absolute;
    background: black;
    border: 10px;
    border-radius: 5px;
    z-index: 100;
    overflow: hidden;
    background-image: url(../svg/stripes.svg);
    background-repeat: repeat;
    margin: 0;
    -webkit-animation-name: moveBorder;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#last_enabled_border {
    z-index: inherit;
}
@-webkit-keyframes 'moveBorder' {
    from {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    to {
        background-position: 0% 0%;
    }
}




/** 
 *  Overlay modal box
 **/
div.modal-overlay {
    outline: 0 !important;
    display: none;
}

div.modal-overlay-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999;
    background: rgba(230, 235, 209, .7);
}


div.modal-overlay-pane {
    top: 40%;
    left: 40%;
    position: absolute;
    z-index: 10000001;
    min-width: 200px;
    
    -webkit-box-shadow: 0px 0px 4px #241F1B;
    
}

div.modal-overlay-content {
    background: #201913;
    /*padding: 10% 15% 10% 15%;*/
    padding: 0.8em;
    color: white;
    border-left: 2px solid #4D433B;
    border-right: 2px solid #4D433B;
    border-bottom: 2px solid #4D433B;
}

div.modal-overlay-header {
    padding: 0.8em;
    
}

h2.modal-overlay-header {
    display: inline;
    float: left;
    
}

button.modal-overlay-close-button {
    display: inline;
    float: right;
    margin-left: 1em;
}

div.modal-overlay-close-button {
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

div.modal-overlay-confirm {
    background: -webkit-gradient(
        linear, 
        left top, 
        left bottom, 
        color-stop(0,#00adee), 
        color-stop(0.2,#00adee), 
        color-stop(1,#0078a5)
    );
    border: solid 1px #0076a3;
    
    padding: 1em 0em;
}

div.modal-overlay-confirm button {
    float: right;
    margin-right: 1em;
    margin-left: 1em;
}

img.modal-overlay-loading {
    margin: auto;
}


.clearfix {
    clear: both;
}

/**
 *  Rounded corners
 **/
.corner-all {
    border-top-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
    border-bottom-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 0.5em 0.5em;
}
.corner-top {
    border-top-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
}
.corner-bottom {
    border-bottom-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 0.5em 0.5em;
}
.corner-right {
    border-bottom-right-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
}
.corner-left {
    border-bottom-left-radius: 0.5em 0.5em;
    border-top-left-radius: 0.5em 0.5em;
}


/**
 *  Image Buttons
 **/
 
button {
    cursor: pointer;
}

button.image-button {
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 0;
}
button.text-button {
    padding: 0.5em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);    
}
button.cross {
    background-image: url('../images/cross.png');
}

/**
 *  div-tables
 **/
.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}