<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Bingo!</title>
    
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" title="Main Stylesheet" charset="utf-8">
    
    {# Vendor #}
    <script src="http://www.google.com/jsapi"></script>
    <script src="/static/js/lib/vendor/jquery-1.4.4.min.js"></script>
    <script src="/static/js/lib/vendor/jquery.tmpl.min.js"></script>
    <script src="/static/js/lib/vendor/underscore-min.js"></script>
    <script src="/static/js/lib/vendor/backbone.js"></script>

    <script src="/static/js/global.js"></script>
    
    {# Helpers #}
    <script src="/static/js/lib/helpers/ModalAlert.js"></script>
    <script src="/static/js/lib/helpers/ConfirmModalAlert.js"></script>
    <script src="/static/js/lib/helpers/AutoClearField.js"></script>
    <script src="/static/js/lib/helpers/ModalNotifier.js"></script>
    <script src="/static/js/lib/helpers/Backbone.sync.js"></script>
    
    {# Model #}
    <script src="/static/js/lib/models/Board.js"></script>
    <script src="/static/js/lib/models/Marker.js"></script>
    
    {# Widgets #}
    <script src="/static/js/lib/widgets/Widget.js"></script>
    <script src="/static/js/lib/widgets/ManageBoardWidget.js"></script>
    <script src="/static/js/lib/widgets/BingoMarkerWidget.js"></script>
    <script src="/static/js/lib/widgets/ClickableBingoMarkerWidget.js"></script>
    
    {# Pages #}
    <script src="/static/js/lib/pages/Page.js"></script>
    <script src="/static/js/lib/pages/IndexPage.js"></script>
    <script src="/static/js/lib/pages/HomePage.js"></script>
    <script src="/static/js/lib/pages/BingoPage.js"></script>
    <script src="/static/js/lib/pages/EditPage.js"></script>
    <script src="/static/js/lib/pages/ViewPage.js"></script>
    
    
    <script src="/static/js/ajax.js"></script>
    
    <script src="/static/js/init.js"></script>
    

  </head>

  <body>
      <div class="background"></div>

      <div id="modal-overlay" class="modal-overlay">
        <div id="modal-overlay-background" class="modal-overlay-background"></div>
        <div id="modal-overlay-pane" class="modal-overlay-pane corner-all">
          <div id="modal-overlay-header" class="modal-overlay-header blue corner-top">
            <h2 id="modal-overlay-header" class="modal-overlay-header">
              <!-- This is where the content for a modal alert title goes -->
            </h2>
            <button id="modal-overlay-close-button" class="image-button cross modal-overlay-close-button"><!-- --></button>
            <div class="clearfix"></div>
          </div>
          <div id="modal-overlay-content" class="modal-overlay-content">
             <!-- This is where the modal content goes -->
          </div>
          <div id="modal-overlay-confirm" class="modal-overlay-confirm corner-bottom">
            <button id="modal-overlay-confirm-ok" class="text-button control blue corner-all"></button>
            <button id="modal-overlay-confirm-cancel" class="text-button control blue corner-all"></button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      {% block header %}{% endblock %}

      <div id="page_message" class="page_message">
      </div>

      {% block content %}{% endblock %}
      
      
      {% block clientside %}{% endblock %}
      
      <script>
        bingo.init.initialize({
            {% autoescape off %}
                page: '{{page}}',
                {% if data %}
                    userdata: {{data}},
                {% else %}
                    userdata: {},
                {% endif %}
                {% if message %}
                    message: '{{message}}'
                {% else %}
                    message: ''
                {% endif %}
            {% endautoescape %}
        });
      </script>
  </body>
</html>
