{% extends 'base.html' %}

{% load bingo_row %}

{% block title %}
{{boardName}}
{% endblock %}

{% block content %}
    <div class="bingo_container">
        {% block bingo_rows %}{% endblock %}
    </div>
    
    <div class="controls_container">
        <div id="controls_left" class="controls">
            {% block controls_left %}
            {% endblock %}
        </div>
        <div id="controls_center" class="controls">
            {% block controls_center %}
            {% endblock %}
        </div>
        <div id="controls_right" class="controls">
            {% block controls_right %}
            {% endblock %}
            <button class="text-button control blue corner-all" id="control-help">
              ?
            </button>            
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div id="last_enabled">
      <div id="last_enabled_border"></div>
    </div>
{% endblock %}


{% block clientside %}

{% endblock %}