{% extends 'base.html' %}

{% load bingo_row %}

{% block title %}
{{boardName}}
{% endblock %}

{% block content %}
    <div class="bingo_container">
        {% block bingo_rows %}{% endblock %}
    </div>
    
    <div class="controls_container">
        <button class="text-button control blue corner-all" id="control-back">
            &lt; Back to Home
        </button>
        {% block controls %}
        {% endblock %}
        <button class="text-button control blue corner-all" id="control-help">
          ?
        </button>
    </div>
    
    <div id="last_enabled">
      <div id="last_enabled_border"></div>
    </div>
{% endblock %}


{% block clientside %}

{% endblock %}