{% extends 'bingo_board.html' %}
{% load bingo_row %}
{% block bingo_rows %}
    {% bingo_row 'B' ' clickable' %}
    {% bingo_row 'I' ' clickable' %}
    {% bingo_row 'N' ' clickable' %}
    {% bingo_row 'G' ' clickable' %}
    {% bingo_row 'O' ' clickable' %}
{% endblock %}

{% block controls_left %}
    <button class="text-button control blue corner-all" id="control-back">
        &lt; Back to Home
    </button>            
{% endblock %}

{% block controls_center %}
    <button class="text-button control blue corner-all" id="control-callrandom">
        <h2>Call random</h2>
    </button>
{% endblock %}

{% block controls_right %}
    <button class="text-button control blue corner-all" id="control-clear">
      Clear Board
    </button>
{% endblock %}

