{% extends 'base.html' %}

{% load verbatim %}

{% block title %}
Bingo!
{% endblock %}

{% block header %}
    <div id="home_header_container" class="pane pane_header corner-all">
        <h1 id="home_header">Bingo Board Setup</h1>
    </div>
{% endblock %}

{% block content %}

    {% include 'partials/boards_pane.html' %}
    
    
    <script id="board_row_template" type="text/x-jquery-tmpl">
        {% verbatim %}
        <div class="table-row">
            <div class="table-cell">
                <a href="/edit/${id}" title="Call numbers on ${name}">{% endverbatim %}http://{{ domain }}{% verbatim %}/edit/${id}</a>
            </div>
            <div class="table-cell">
                <a href="/view/${id}">
                    http://{% endverbatim %}{{ domain }}{% verbatim %}/view/${id}
                </a>
            </div>
            <div class="table-cell">
                <button class="delete_board">Delete</button>
            </div>
        </div>
        {% endverbatim %}
    </script>
    
    <script id="empty_board_row_template" type="text/x-jquery-tmpl">
        {% verbatim %}
            <div class="table-row">
{#                <div class="table-cell">#}
                    You currently have no bingo boards.  Create one below.
{#                </div>#}
            </div>
        {% endverbatim %}
    </script>

{% endblock %}
    
