{% extends 'base.html' %}

{% load verbatim %}

{% block title %}
Bingo!
{% endblock %}


{% block content %}
    
    <div id="home_header_container" class="pane pane_header corner-all">
        <h1 id="home_header">Bingo Board Setup</h1>
    </div>
    
    {% if message %}
        <div id="home_message" class="message">
            {{ message }}
        </div>
    {% endif %}

    {% include 'partials/boards_pane.html' %}
    
    
    <script id="board_row_template" type="text/x-jquery-tmpl">
        {% verbatim %}
        <div class="table-row">
            <div class="table-cell">
                ${id}
            </div>
            <div class="table-cell">
                <a href="/view/${id}">
                    http://{% endverbatim %}{{ domain }}{% verbatim %}/view/${id}
                </a>
            </div>
            <div class="table-cell">
                <button class="delete_board">Delete</button>
            </div>
        </div>
        {% endverbatim %}
    </script>

{% endblock %}
    
