{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div id="index_header" class="index_pane index_header corner-all">
        <h1>Web Bingo!</h1>
        <p id="index_welcome" class="index_welcome">Everyone likes to play bingo.  But sometimes you can't hear the numbers.<br />Use any computer with internet as a bingo board viewer or editor!</p>
    </div>
    
    <div id="index_login_register" class="index_pane index_login_register">
        <div id="index_register" class="index_register corner-all">
            <h2>Register</h2>
        </div>
        <div id="index_login" class="index_login corner-all">
            <h2>Login</h2>
        </div>
    </div>
{% endblock %}