{% extends 'base.html' %}

{% load forms %}

{% block title %}
Bingo!
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}

        authenticated!

    {% else %}


        {% include 'partials/index_header.html' %}

        {% if message %}
            <div id="index_message" class="index_message">
                {{ message }}
            </div>
        {% endif %}


        <div id="index_login_register">        
    
            {% include 'partials/register_pane.html' %}
    
            {% include 'partials/login_pane.html' %}
            
        </div>
        
    {% endif %}
{% endblock %}
    
